@{
    ViewData["Title"] = "Add";
}

<div class="container mt-3">
    <h1>Add brand</h1>
    <form action="" method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="Name"><strong>Name</strong></label>
                <input class="form-control" type="text" name="Name" placeholder="Name">
            </div>
        </div>
        <a href="/Brands/All" class="btn btn-primary">Back</a>
        <input class="btn btn-success" type="submit" name="Add" value="Add" />
    </form>
</div>