* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {
    background: #e6ecf0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

input, button {
    outline: 0;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

header#main-header {
    height: 46px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.015);
    margin-bottom: 10px;
}

    header#main-header .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }


    header#main-header nav ul {
        display: flex;
        margin-bottom: 0;
    }


        header#main-header nav ul li {
            display: flex;
            font-size: 13px;
            color: #667580;
            font-weight: bold;
            margin-left: 30px
        }

            header#main-header nav ul li:before {
                margin-right: 7px
            }

            header#main-header nav ul li:first-child {
                margin: 0
            }

    header#main-header h1 {
        width: 24px;
        height: 21px;
        margin: 0;
        padding: 0;
    }

    header#main-header div.side {
        display: flex;
    }

        header#main-header div.side input {
            background: #f5f8fa;
            border: solid 1px #e6ecf0;
            height: 34px;
            padding: 0 12px;
            border-radius: 16px;
            font-size: 12px;
            color: #667581;
        }

        header#main-header div.side img {
            height: 34px;
            width: 34px;
            border-radius: 50%;
            margin: 0 15px;
        }

        header#main-header div.side button {
            height: 34px;
            background: #3bb9e3;
            color: white;
            border: 0;
            font-size: 14px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            font-weight: bold
        }

