@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-8">

            <div class="col">
                <h6>Търсене в Автомобили и Джипове</h6>
                <hr />
                <div style="border-style: groove;border-color: cornflowerblue;">

                    <div class="row mt-2 mb-2">

                        <div class="col-6">
                            <p class="mb-1 small">Основна категория</p>
                            <select class="mdb-select md-form container">
                                <option value="" disabled selected>Всички</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>

                    </div>

                    <div class="row mt-2 mb-2">
                        <div class="col-3 ml-2 mr-2">
                            <p class="mb-1 small">Марка</p>
                            <select class="mdb-select md-form container">
                                <option value="" disabled selected>Всички</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <p class="mb-1 small">Модел</p>
                            <select class="mdb-select md-form container">
                                <option value="" disabled selected>Всички</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <p class="mb-1 small">Регион</p>
                            <select class="mdb-select md-form container">
                                <option value="" disabled selected>Всички</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div class="col-3 mt-2 mr-2">
                            <div class="ml-2 mr-2">
                                <p class="mb-1 small">Населено място</p>
                                <select class="mdb-select md-form container">
                                    <option value="" disabled selected>Всички</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2">
                        <div class="col-3">
                            <div class="ml-2 mr-2">
                                <p class="mb-1 small">Maксимална цена</p>
                                <input class="form-control form-control-sm container" type="text" placeholder=".form-control-sm">
                            </div>
                        </div>
                        <div class="col-3">
                            <p class="mb-1 small">Година</p>
                            <select class="mdb-select md-form container">
                                <option value="" disabled selected>Всички</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div class="col-6 pl-0 pr-4">
                            <p class="mb-1 small">Подреди резултатите по</p>
                            <select class="mdb-select md-form container">
                                <option value="" disabled selected>Всички</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2">
                        <div class="col-3">
                            <div class="ml-2 mr-2">
                                <p class="mb-1 small">Двигател</p>
                                <select class="mdb-select md-form container">
                                    <option value="" disabled selected>Всички</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <p class="mb-1 small">Скоростна кутия</p>
                            <select class="mdb-select md-form container">
                                <option value="" disabled selected>Всички</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div class="col-6 pl-0 pr-4">
                            <input class="container" style="margin-top:20px;" type="button" value="ТЪРСИ" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mt-5">
                <h6>Най-новите обяви за Автомобили и Джипове</h6>
                <hr />
                <div style="border-style: groove ;border-color: cornflowerblue;">Here should be the newest cars and posts etc...</div>
            </div>
        </div>

        <div class="col-4" style="border-style: solid;border-color: black;">
            Here should be the news...
        </div>
    </div>
</div>
