@using Sabv.Web.ViewModels.Posts
@model CreatePageViewModel

@{
    this.ViewData["Title"] = "Create";
}

<form asp-controller="Posts" asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col container mt-3">
            <h6 id="pageHeader">Crate post</h6>
            <div asp-validation-summary="All" class="text-danger"></div>

            <hr />
            <div>

                <div class="row mt-2 mb-2">
                    <div class="col-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Post category</p>
                            <select asp-for="Category" asp-items="Model.Categories" class="mdb-select md-form container" id="categorySelect" name="postCategory"></select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-4 pl-5">
                        <p class="mb-1 small">Condition</p>
                        <input type="radio" id="condition" name="condition" value="Used" checked>
                        <label for="2">Used</label>
                        <input type="radio" id="condition" name="condition" value="New">
                        <label for="1">New</label>
                    </div>
                </div>

                <div class="row mt-2 mb-2">

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Make</p>
                            <select asp-for="Make" asp-items="Model.Makes" class="mdb-select md-form container" id="makesSelect" name="make"></select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Model</p>
                            <select class="mdb-select md-form container" id="modelsSelect" name="model">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Modification</p>
                            <input asp-for="Modification" class="form-control form-control-sm container" name="modification" />
                            <span asp-validation-for="Modification" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Engine type</p>
                            <select asp-for="EngineType" asp-items="Model.EngineTypes" class="mdb-select md-form container" name="engineType"></select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Horsepower</p>
                            <input asp-for="Horsepower" class="form-control form-control-sm container" name="horsePower" />
                            <span asp-validation-for="Horsepower" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Eurostandard</p>
                            <select asp-for="Eurostandard" asp-items="Model.Eurostandards" class="mdb-select md-form container" name="eurostandard"></select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Transmission type</p>
                            <select asp-for="TransmissionType" asp-items="Model.TransmissionTypes" class="mdb-select md-form container" name="transmissionType"></select>
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Category</p>
                            <select asp-for="VehicleCategory" asp-items="Model.VehicleCategories" class="mdb-select md-form container" name="vehicleCategory"></select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Price</p>
                            <input asp-for="Price" class="form-control form-control-sm container" name="price" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Currency</p>
                            <select asp-for="Currency" asp-items="Model.Currencies" class="mdb-select md-form container" name="currency"></select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="ml-2">
                            <p class="mb-1 small">Manufacture date</p>
                            <select asp-for="Year" asp-items="Model.Years" class="mdb-select md-form container" name="year"></select>
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-3 pl-0 pr-4">
                        <div class="ml-2">
                            <p class="mb-1 small">Color</p>
                            <select asp-for="Color" asp-items="Model.Colors" class="mdb-select md-form container" name="color"></select>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-6">
                        <div class="ml-2">
                            <p class="mb-1 small">City</p>
                            <select asp-for="City" asp-items="Model.Cities" class="mdb-select md-form container" name="town"></select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="ml-2">
                            <p class="mb-1 small">Mileage</p>
                            <input asp-for="Mileage" class="form-control form-control-sm container" name="mileage" />
                            <span asp-validation-for="Mileage" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row mt-4 mb-2">
                    <div class="col-md-4">
                        <p class="mb-1 small">Additional information</p>
                        <div class="form-group">
                            <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p class="mb-1 small">Mobile number</p>
                        <input asp-for="MobileNumber" class="form-control form-control-sm" name="phoneNumber" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <p class="mb-1 small">Email</p>
                        <input asp-for="Email" class="form-control form-control-sm" name="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-4 mb-2">
                    <div class="col-md-6">
                        <button id="CreateBtn" class="btn btn-primary btn-lg btn-block" type="submit" value="Create">Create</button>
                    </div>
                    <div class="col-md-6">
                        Select files: <input asp-for="File" type="file" name="files" id="files" multiple><br><br>
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}