<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="jumbotron">
    <h1>About us</h1>
    <p class="lead">
        Sabv is a multipage application build entirely on the latest .NET technologies such as ASP.NET Core 3.x & Entity
        Framework Core as a project for university course ASP.NET Core. The main purpose is to provide user-friendly web
        platform where users can browse different posts containing information about vehicles according to their needs.
        There are three roles - guest, registered user, admin. The guest can only browse through the posts but in order to
        create one he should register or login into existing account. The already logged in user can create posts, add other
        posts to his favourites, track his own post status etc. Admin can see all posts from all users and modify them, he can
        also create and delete a post.
    </p>
    <a class="btn btn-lg btn-primary" href="https://github.com/naskomsm/C-Sharp-Projects/tree/master/Sabv" role="button">View source code »</a>

    <hr />

    <h1 class="justify-content-center">About developer</h1>
    <img class="mx-auto d-block mt-5 mb-5" src="https://avatars1.githubusercontent.com/u/44707978?s=460&u=46f151fe6ef537765692f7f5ef029fe620d800b6&v=4" alt="" class="img-thumbnail">
    <p class="lead">
        Currently a student in the Software University. I graduated from "Prof. Geo Milev High School of Mathematics and Natural Sciences"
        in Stara Zagora, now living in Sofia. Industry knowledge - Object-Oriented Programming (OOP), Unit Testing, C#, JavaScript, ASP.NET
        core, EF core, MS SQL.
    </p>

    <hr />

        <section class="mb-4">

            <h2 class="h1-responsive font-weight-bold text-center my-4">Contact me</h2>

            <div class="row">

                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" asp-controller="Home" asp-action="SendEmail" method="POST">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="fromName" name="fromName" class="form-control">
                                    <label for="fromName" class="">Your name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="from" name="from" class="form-control">
                                    <label for="from" class="">Your email</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">Subject</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message">Your message</label>
                                </div>

                            </div>
                        </div>
                        <div class="text-center text-md-left">
                            <button type="submit" class="btn btn-lg btn-primary">Send</button>
                            @*<a class="btn btn-lg btn-primary" href="" role="button">Send</a>*@
                        </div>
                    </form>

                    <div class="status"></div>
                </div>
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fa fa-location-arrow"></i>
                            <p>Sofia, Bulgaria</p>
                        </li>

                        <li>
                            <i class="fa fa-mobile"></i>
                            <p>+359 899 11 5617</p>
                        </li>

                        <li>
                            <i class="fa fa-envelope-square"></i>
                            <p>naskokolev00@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
</div>