<link href="~/css/chat.css" rel="stylesheet" asp-append-version="true" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="media">
                    <a class="float-left mr-4" href="#"><img class="media-object" src="https://img.huffingtonpost.com/asset/5dcc613f1f00009304dee539.jpeg?cache=QaTFuOj2IM&ops=crop_834_777_4651_2994%2Cscalefit_720_noupscale" alt="" width="93" height="93"></a>
                    <div class="media-body">
                        <h4 class="media-heading">Stoyan Kolev</h4>
                        <p>
                            Ei kurvo iskash li da osetish moito turbo
                        </p>
                        <ul class="list-unstyled list-inline media-detail float-left">
                            <li class="list-inline-item"><i class="fa fa-calendar"></i>1.1.01</li>
                        </ul>
                    </div>
                </div>


                <form asp-controller="Comments" asp-action="Create" method="post" asp-route-postId="4">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3 col-xl-2 hidden-xsd-none d-sm-block">
                                <a href="">
                                    <img class="media-object" src="https://img.huffingtonpost.com/asset/5dcc613f1f00009304dee539.jpeg?cache=QaTFuOj2IM&ops=crop_834_777_4651_2994%2Cscalefit_720_noupscale" alt="" width="93" height="93">
                                </a>
                            </div>
                            <div class="form-group col-12 col-md-9 col-xl-10">
                                <textarea class="form-control" id="message" name="content" placeholder="Your message" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary float-right">Send</button>
                </form>

            </div>
        </div>
    </div>
</section>