@{
    ViewData["Title"] = "Add";
}

<h1>Add pet</h1>

<form action="" method="post">
    <div class="form-group">
        <div class="form-group">
            <label for="Gender">Gender</label>
            <select class="form-control" name="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Unspecified">Unspecified</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Birthdate">Birthdate</label>
            <input type="date" name="Birthdate" value="2018-07-22" min="2000-01-01" />
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <input type="number" name="Price" placeholder="In dollars" min="50" max="10000" />
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" name="Description" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="Breed">Breed</label>
            <input class="form-control" type="text" name="Breed" placeholder="Breed">
        </div>

        <div class="form-group">
            <label for="Breed">Category</label>
            <input class="form-control" type="text" name="Category" placeholder="Category">
        </div>
    </div>

    <a href="/Pets/All" class="btn btn-primary">Back</a>
    <input class="btn btn-success" type="submit" name="Add" value="Add" />
</form>