@{
    ViewData["Title"] = "Add";
}

<div class="container mt-3">
    <h1>Add pet</h1>
    <form action="" method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="Gender"><strong>Gender</strong></label>
                <select class="form-control" name="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Unspecified">Unspecified</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Birthdate"><strong>Birthdate</strong></label>
                <input type="date" name="Birthdate" value="2018-07-22" min="2000-01-01" />
            </div>

            <div class="form-group">
                <label for="Price"><strong>Price</strong></label>
                <input class="form-control" type="text" name="Price" placeholder="Price">
            </div>

            <div class="form-group">
                <label for="Description"><strong>Description</strong></label>
                <textarea class="form-control" name="Description" rows="3" placeholder="Description"></textarea>
            </div>

            <div class="form-group">
                <label for="Breed"><strong>Breed</strong></label>
                <input class="form-control" type="text" name="Breed" placeholder="Breed">
            </div>

            <div class="form-group">
                <label for="Breed"><strong>Category</strong></label>
                <input class="form-control" type="text" name="Category" placeholder="Category">
            </div>
        </div>

        <a href="/Pets/All" class="btn btn-primary">Back</a>
        <input class="btn btn-success" type="submit" name="Add" value="Add" />
    </form>
</div>