@model IEnumerable<PetListingServiceModel>

@{
    ViewData["Title"] = "All";
}

<div class="container mt-3">
    <h1>All pets <a href="/Pets/Add" class="btn btn-success float-right">Add pet</a></h1>
    <input type="text" id="searchBar" onkeyup="filterByBreedName()" placeholder="Search for breed name..">
    <table id="myTable">
        <tr class="header">
            <th>Category</th>
            <th>Breed</th>
            <th>Price</th>
            <th></th>
        </tr>

        @foreach (var pet in Model)
        {
            <tr>
                <td>@pet.Category</td>
                <td>@pet.Breed</td>
                <td>@pet.Price</td>
                <td>
                    <a href="/Pets/Info/@pet.Id" class="btn btn-info">Info</a>
                    <a href="/Pets/Delete/@pet.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>