@model PetDeleteServiceModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete pet with id=@Model.Id and price=@Model.Price</h1>


<a href="/Pets/All" class="btn btn-primary">Back</a>
<br />
<form action="" method="post">
    <input class="btn btn-danger" type="submit" name="Delete" value="Delete" />
</form>