
@{
    ViewData["Title"] = "Безплатно публикуване на обява";
}


<div class="row">

    <div class="col" style="border-style: groove;border-color: silver;">1. Публикуване на обявата</div>
    <div class="col">
        <img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;
        padding-top: 20px;
    " />
    </div>
    <div class="col" style="border-style: groove;border-color: silver;">2. Преглед на текста</div>
    <div class="col"><img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;padding-top: 20px;" /></div>
    <div class="col" style="border-style: groove;border-color: silver;background-color: #DFF1FF">3. Добавяне на снимки и видео</div>
    <div class="col"><img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;padding-top: 20px;" /></div>
    <div class="col" style="border-style: groove; border-color: silver;">4. Преглед на обявата</div>

</div>

<div class="row">

    <div class="col container mt-3">
        <h6>Публикуване на безплатна обява - Автомобили и Джипове - Добавяне на снимки и видео (Стъпка 3)</h6>
        <hr />

        <div class="container row text-center" style="border-style: groove;border-color: silver;background-color: #DFF1FF">
            <div class="col align-self-center mt-2">
                <h6>Към обявата можете да прикачите до 10 снимки</h6>
            </div>
            <p>
                Първата добавена снимка ще бъде показвана в списъка с резултати от търсенето. ВНИМАНИЕ: Големината на всяка от снимките не трябва
                да надвишава 10 Mb.
            </p>
        </div>

        <div class="container row mt-4 text-center">
            <div class="col align-self-center">
                <h3>Можете да избирате по няколко снимки на веднъж: </h3>
                <form method="post" action="/Post/AddPictures">
                    Изберете файлове: <input type="file" name="myFile" multiple><br><br>
                    <input class="container" type="submit" value="КАЧИ СНИМКИТЕ" />
                </form>
            </div>
        </div>

    </div>

</div>

