
@{
    ViewData["Title"] = "Безплатно публикуване на обява";
}

<div class="row">

    <div class="col" style="border-style: groove;border-color: silver;">1. Публикуване на обявата</div>
    <div class="col">
        <img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;
        padding-top: 20px;
    " />
    </div>
    <div class="col" style="border-style: groove;border-color: silver;background-color: #DFF1FF">2. Преглед на текста</div>
    <div class="col"><img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;padding-top: 20px;" /></div>
    <div class="col" style="border-style: groove;border-color: silver;">3. Добавяне на снимки и видео</div>
    <div class="col"><img src="//cdn2.focus.bg/mobile/images/picturess/nav_arrow.gif" style="padding-left: 55px;padding-top: 20px;" /></div>
    <div class="col" style="border-style: groove;border-color: silver;">4. Преглед на обявата</div>

</div>

<div class="row">
    <div class="col container mt-3">
        <h6>Публикуване на безплатна обява - Автомобили и Джипове - Преглед на текста (Стъпка 2)</h6>
        <hr />
        <div>

            <div class="container row text-center" style="border-style: groove;border-color: silver;background-color: #ffd800" >
                <div class="col align-self-center">
                    <h6>Текстът на Обявата Ви е публикуван успешно</h6>
                </div>
                <p>
                    Телефонът на Вашата обява е 0899115617. Ако желаете да редактирате или изтриете Вашата обява в по-късен етап, може да го
                    направите от "Редакция на обява", който се намира в горната лява част на сайта. Ако желаете да добавите снимки, продължете
                    напред с натискането на бутона "Довави снимки и видео".
                </p>
                <div class="col align-self-center">
                    <h6>Моля, проверете внимателно данните във вашата обява.</h6>
                </div>
            </div>

            <div class="container row mt-4">
                <p>Тази обява ще съдържа следните данни до 5.3.2020 г.:</p>
            </div>

            <div class="container row">

                <div class="col-4">
                    <div class="row"><p>Съдържание на обявата:</p></div>

                    <div class="row">
                        <div class="col-6">Марка:</div>
                        <div class="col-6">BMW</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Модел:</div>
                        <div class="col-6">535</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Цена:</div>
                        <div class="col-6">35000</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Тип двигател:</div>
                        <div class="col-6">Бензинов</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Евростандарт:</div>
                        <div class="col-6">Евро 5</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Скоростна кутия:</div>
                        <div class="col-6">Автоматична</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Категория:</div>
                        <div class="col-6">Седан</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Пробег:</div>
                        <div class="col-6">125000</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Дата на производство:</div>
                        <div class="col-6">февруари 2014 г.</div>
                    </div>

                    <div class="row">
                        <div class="col-6">Цвят:</div>
                        <div class="col-6">Тъмно син</div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="row"><p>Контактис Вас:</p></div>
                    <div class="row">Стара Загора, гр.Стара Загора</div>
                    <div class="row">тел.: 0899115617</div>
                    <div class="row">e-mail: goshootpochivka@abv.bg</div>
                    <div class="row">
                        <div class="col-6">
                            <input onclick="window.history.back();" class="container" style="margin-top:20px;" type="button" value="ПРОМЕНИ ТЕКСТА" />
                        </div>
                        <div class="col-6">
                            <input onclick="window.location='/Post/AddPictures';" class="container" style="margin-top:20px;" type="button" value="ДОБАВИ СНИМКИ И ВИДЕО" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

