@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="my-4">
        Pet Shop <small>Everything for your pet</small>
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="https://www.bestcatinfo.com/wp-content/uploads/2019/03/boss-2911333_1280-1024x682.jpg" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Project Description</h3>
            <p>This is project about pets and their needs - food, toys etc.. The purpose of the site is to make restful api, not to look good. It has categories for animals, food and toys. You can see in tables all the brands, pets, categories, food and breeds as well as their additional information. You can add and delete any kind of entity.</p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>Provides restful api</li>
                <li>Using Entity Framework Core 3.0.1</li>
                <li>Using .NET core 3.1</li>
                <li>Using Bootstrap 4</li>
            </ul>
        </div>

    </div>

    <h3 class="my-4">I love cats</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="https://cdn.mobsocmedia.com/uploads/sites/33/20161123174142/81BE4mT-500x300.jpg" alt="">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="https://i.pinimg.com/originals/57/f9/b4/57f9b4fae3dbf4bb9f82281f1dc76b52.jpg" alt="">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="https://pets.amerikanki.com/wp-content/uploads/2019/01/Benefits-of-Owning-a-Cat-500x300.jpg" alt="">
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <img class="img-fluid" src="http://catnapchronicles.com/wp-content/uploads/2016/09/pexels-photo-96938-500x300.jpeg" alt="">
        </div>

    </div>
</div>