@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-success">
    <div class='console-container'>
        <span id='text'></span>
        <div class='console-underscore' id='console'>
            &#95;
        </div>
    </div>
</div>
