<form method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Comment ID</th>
                <th scope="col">Post ID</th>
                <th scope="col">Username</th>
                <th scope="col">Date</th>
                <th scope="col">Content</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th scope="row">3</th>
                <td>Gosho</td>
                <td>01.01.2020</td>
                <td>Comment bro just a comment...</td>
                <td>
                    <a href="/Administration/Comment/Delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>
