<h1>Admin options</h1>
<hr />
<a href="/Administration/Chat" class="btn btn-primary btn-lg btn-block">Chat messages</a>
<a href="/Administration/Comments" class="btn btn-primary btn-lg btn-block">Comments</a>
<a href="/Administration/Posts" class="btn btn-primary btn-lg btn-block">Posts</a>