@model IEnumerable<TweetListingServiceModel>

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <p>stats</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        @foreach (var tweet in Model)
        {
            <div class="card">
                <div class="card-body">
                    <p>tweet</p>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <p>about</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <p>trends</p>
            </div>
        </div>
    </div>
</div>