@{
    ViewData["Title"] = "Детайли";
}

<div class="row font-weight-bold justify-content-center">
    <h3>ЗАГЛАВИЕ</h3>
</div>

<div class="row justify-content-center">
    <h6>
        <span>
            <a class="col-md-4" href="https://autodata24.com/" target="_blank">
                /Технически характеристики и разход на гориво/
            </a>
        </span>
    </h6>
</div>