@model IEnumerable<CategoryListingServiceModel>

@{
    ViewData["Title"] = "All";
}

<h1>All categories <a href="/Categories/Add" class="btn btn-success float-right">Add category</a></h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Name</th>
                <th>
                    <a href="/Categories/Info/@category.Id" class="btn btn-info">Info</a>
                    <a href="/Categories/Delete/@category.Id" class="btn btn-danger">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>