@model IEnumerable<CategoryListingServiceModel>

@{
    ViewData["Title"] = "All";
}

<div class="container mt-3">
    <h1>All categories <a href="/Categories/Add" class="btn btn-success float-right">Add category</a></h1>
    <input type="text" id="searchBar" onkeyup="filterByCategoryName()" placeholder="Search for category name..">
    <table id="myTable">
        <tr class="header">
            <th>Name</th>
            <th></th>
        </tr>

        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a href="/Categories/Info/@category.Id" class="btn btn-info">Info</a>
                    <a href="/Categories/Delete/@category.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>