@model IEnumerable<CategoryListingServiceModel>

@{
    ViewData["Title"] = "All";
}

<h1>All categories</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <th>@category.Name</th>
                <th>@category.Description</th>
                <th>
                    @*<a href="/Pets/Info/@pet.Id" class="btn btn-info">Info</a>
                    <a href="/Pets/Delete/@pet.Id" class="btn btn-danger">Delete</a>*@
                </th>
            </tr>
        }
    </tbody>
</table>